build/
.DS_Store
.gradle/
.env
.cxx/
output/
local.properties
.idea/
.venv/
*.pyc
__pycache__/
uv.lock
*.egg-info/
libmoonshine*.so
libmoonshine*.dylib
libmoonshine*.dll
/python/src/moonshine_voice/libonnxruntime*
/python/src/moonshine_voice/*.so
/python/src/moonshine_voice/*.so.*
/python/src/moonshine_voice/*.dylib
/python/src/moonshine_voice/*.dll
/python/dist/
.pypirc
/swift/Moonshine.xcframework
.build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/
.swiftpm/
/swift/Tests/MoonshineVoiceTests/test-assets/
project.xcworkspace
xcuserdata/
/swift/test-assets/
/.config/
*.tar.gz
/examples/c++/moonshine-voice-*/
/examples/c++/transcriber
Package.resolved
/examples/windows/cli-transcriber/moonshine-voice-windows-x86_64/
/examples/windows/cli-transcriber/x64/
/tiny-log.txt
/moonshine-eval-results.xlsx
/moonshine-eval-detailed-results.xlsx
/datasets/